/*-- scss:defaults --*/

// Fonts
$headings-font-family: "Poppins", -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-sans-serif:  "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-weight: 500;

// Colours
$darkrladies: scale-color(#881ef9, $lightness: -20%);
$rladies: #881ef9;
$altblack: #3A3B3C;
$altwhite: #FDFBF7;
$darkbg-hl: #ffff72;
$lightbg-hl: #ffff72;//rgba(#C2B6C6, 0.5);

// Base Colours
$primary: $lightbg-hl;
$secondary: $altwhite;
$navbar-bg: $rladies;
$navbar-fg: $altwhite;
$navbar-hl: $darkbg-hl;
$body-bg: $altwhite;
$body-color: $altblack;
$footer-bg: $altwhite;
$link-color: $lightbg-hl;
$url: $rladies;

// Inline code
$code-color: $darkrladies;

/*-- scss:rules --*/

// navigation bar ---------------------------------------------------------------------
.navbar {
  border-bottom: 1px solid $darkbg-hl;
}

.navbar-nav  .nav-link {
  border-radius: 0.5rem;
}

.navbar-nav  .nav-link:hover {
  color: $darkbg-hl;
  border-radius: 0.2rem;
}

// core-page -------------------------------------------------------------------
.core-page .title {
  text-transform: uppercase;
}

.core-page.quarto-title-banner h1{
  color: $altwhite;
  font-weight: 400;// !important;
}

.home-page h2{
  border-bottom: none;
  padding-top: 1em;
  text-align: center;
}

// text formating --------------------------------------------------------------
h1 {
  letter-spacing: 1px;
  border-bottom: none;
  color: $rladies;
}

h2{
  border-bottom: none;
}

h3{
  font-size: 1.1rem;
}

a {
  text-decoration-style: solid;
  color:  $url;
}

a:hover {
    color: $lightbg-hl;
}

p a:hover {
  color:$altblack;
  background-color: #ffff72;
}

.anchorjs-link {
  display: none;
}

.center-align{
  text-align: center;
}

// listings ------------------------------------------------------------------
.listing-title a:hover,
.listing-item a:hover {
  color: $rladies; //$lightbg-hl !important;
}

// buttons ---------------------------------------------------------------------
.btn{
//  border-radius: 0.5rem;
  border: 1px solid $rladies;
  color: $rladies;
  padding: 0.5rem 1rem;
  font-weight: 400;
  flex: 1;
  min-width: 200px;

  &:hover,
  &:focus,
  &:active {
    border-color: $altblack;
    background-color: $lightbg-hl;
    color: $altblack;
    font-weight: 500;
  }
}

.about-link{
  border: 1px solid $rladies !important;
  color: $rladies!important;

  &:hover,
  &:focus,
  &:active {
    border-color: $altblack;
    background-color: $lightbg-hl;
    color: $altblack!important;
    font-weight: 500;
  }
}

.social-btn-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.rsvp{
  margin-top: 2rem;
  width: 100%;
  font-weight: 700;
}

// EVENTS cards -----------------------------------------------------------------------
.quarto-grid-item {
  border: 1px solid;

  &:hover {
    border-color: $rladies;
    color: $rladies;
  }
}

// EVENTS category filter -------------------------------------------------------------
.quarto-listing-category .category:hover {
  color: $rladies;
  //background-color: $lightbg-hl;
}

.quarto-listing-category .category.active {
  color: $rladies;
  font-weight: 600;
}

// EVENTS category pills (on individual event pages) ----------------------------------
.quarto-title .quarto-categories .quarto-category{//}:hover {
  border-color: $altwhite;
  a {
    font-size: 0.7rem;
    font-weight: 500;
    color: $altwhite;
  }

  &:hover {
    border-color: $altwhite;
    background-color: $darkbg-hl;
    a {
      color: $rladies;
    }
  }
}

// EVENTS pagination ------------------------------------------------------------------

.pagination .page-item .page-link {
  color: $rladies;
  background-color: $altwhite;
  border: 2px solid $rladies;
}

.pagination .page-item .page-link:hover {
  color: $altblack;
  background-color: $lightbg-hl;
  border-color: $lightbg-hl;
}

.pagination .page-item.active .page-link {
  color: $altwhite;
  background-color: $rladies;
  border-color: $lightbg-hl;
}

// footer ---------------------------------------------------------------------
footer {
  color: $altblack;
  a {
    text-decoration: none;
  }

  p a:hover {
    background-color: transparent;
    color: $altblack;
  }

  .fa-brands {
    margin-left: 0.3rem;
  }
}
