/*-- scss:defaults --*/

// Fonts
//$font-family-sans-serif:    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
//$headings-font-weight: 400 !default;

// Colours
$darkblue: #1C6E8C;
$darkrladies: #562457;
$rladies: #88398a;
$lightpurple: #C2B6C6;
$lightpink: rgba(#DCA1A1, 0.7);
$darkgray: #3A3B3C;   
$cream: #FDFBF7;
$primary: $lightpink;
$secondary: $cream;
 
// Base Colours
$navbar-bg: $darkrladies;
$navbar-fg: $cream; 
$navbar-hl: $lightpink; 
$body-bg: $cream;  
$body-color: $darkgray; 
$footer-bg: $cream; 
$link-color: $lightpink; 

// Inline code
$code-color: $rladies;


/*-- scss:rules --*/

// navigation bar ---------------------------------------------------------------------

//.navbar-brand-container .navbar-brand:hover{
//  background-color: $lightpurple !important;
//  color: $darkgray;
//}
.navbar {
  border-bottom: 1px solid $lightpink;
}

.navbar-nav  .nav-link {
  border-radius: 0.5rem;
}

.navbar-nav  .nav-link:hover {
  background-color: $lightpurple !important; 
  color: $darkgray;
  border-radius: 0.5rem;
}

// core-page -------------------------------------------------------------------

.core-page .title {
  text-transform: uppercase;
}

.core-page.quarto-title-banner h1{
  color: $cream;
  font-weight: 400 !important;
}

//.core-page .quarto-title-banner .quarto-title .quarto-categories .quarto-category a{
//  border-color: rgba($cream, 0.5);
//  color: $cream;
//}

//.core-page .quarto-title-banner .quarto-title .quarto-categories .quarto-category:hover {
//  border-color: rgba($lightpink, 0.5);
//  a {
//    color: $lightpink;
//  }
//}

.home-page h2{
  border-bottom: none;
  padding-top: 1em;
  text-align: center;
}

// text formating --------------------------------------------------------------
h1 {
  letter-spacing: 1px;
  border-bottom: none;
  color: $darkrladies;
}

h2{
  border-bottom: none;
}

h3{
  font-size: 1.1rem;
}

a {
  text-decoration-style: solid;
  color: $darkblue; 
}  

a:hover {
    color: $lightpurple; 
}

p a:hover {
  background-color: $lightpurple; 
  color:$darkgray; 
}

.anchorjs-link {
  display: none;
//  color: $lightpurple;
}

.center-align{
  text-align: center;
}

// EVENTS ------------------------------------------------------------------

.listing a:hover,
.listing-title a:hover,
.listing-item a:hover {
  color: $lightpurple !important;
}

.cateogry a:hover{
  color: $lightpink !important;  
}

// EVENTS pagination ------------------------------------------------------------------

.pagination .page-item .page-link {
  color: $rladies;
  background-color: $cream;
  border-color: $rladies;
  border: 2px solid;
}

.pagination .page-item .page-link:hover {
  color: $darkgray;
  background-color: $lightpurple;
  border-color: $lightpurple;
}

.pagination .page-item.active .page-link {
  color: #ffffff;
  background-color: $lightpink;
  border-color: $lightpink;
}


// EVENTS categories ------------------------------------------------------------
.quarto-title .quarto-categories .quarto-category:hover {
  border-color: rgba($lightpink, 0.3);
  a {
    color: $lightpink;
  }
}

.quarto-grid-item {
  border: 1px solid;
  
  &:hover {
  border-color: $lightpurple;
  }
}

.quarto-listing-category .category:hover {
  background-color: $lightpurple;
}


// buttons ---------------------------------------------------------------------

.btn{
//  border-radius: 0.5rem;
  border: 1px solid $rladies;
  color: $rladies;
  padding: 0.5rem 1rem;
  font-weight: 400;
  flex: 1;
  min-width: 200px;
  
  &:hover,
  &:focus,
  &:active {
    border-color: $darkgray; 
    background-color: $lightpurple;
    color: $darkgray; 
    font-weight: 500;
  }
}

.about-link{
    border: 1px solid $rladies !important;
    color: $rladies!important;
    
  &:hover,
  &:focus,
  &:active {
    border-color: $darkgray; 
    background-color: $lightpurple;
    color: $darkgray!important; 
    font-weight: 500;
  }
}

.social-btn-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;  
}

.rsvp{
  margin-top: 2rem; 
  width: 100%;
  font-weight: 700;
}


// footer ---------------------------------------------------------------------
footer {
  color: $darkgray;
  a {
    text-decoration: none;
  }
  
  p a:hover {
    background-color: transparent; 
    color: $lightpurple;
  }
    
  .fa-brands {
    margin-left: 0.3rem; 
  }
}